@if (device) {
  <nz-card nzSize="small">
    <nz-card-tab>
      <nz-tabset nzSize="default" [(nzSelectedIndex)]="selectedIndex" [nzTabBarExtraContent]="tabExtra">
        @for (s of services; track s.iid) {
          <nz-tab [nzTitle]="title">
          </nz-tab>
          <ng-template #title>
            <nz-tag [nzColor]="'blue'">{{ s.iid }}</nz-tag>
            <span>{{ s.description.get('zh-CN') }}</span>
          </ng-template>
        }
      </nz-tabset>
    </nz-card-tab>

    <div>
      @if (services[selectedIndex].properties.size > 0) {
        <editor-properties [service]="services[selectedIndex]"></editor-properties>
      }

      @if (services[selectedIndex].actions.size > 0) {
        <div style="padding-top: 8px">
          <editor-actions [service]="services[selectedIndex]"></editor-actions>
        </div>
      }

      @if (services[selectedIndex].events.size > 0) {
        <div style="padding-top: 8px">
          <editor-events [service]="services[selectedIndex]"></editor-events>
        </div>
      }
    </div>

    <ng-template #tabExtra>
      <button nz-button nzType="primary" nzSize="default">添加功能组</button>
    </ng-template>
  </nz-card>
}
