<nz-page-header nzTitle="编辑" [nzSubtitle]="subTitle" [nzGhost]="false">
  <nz-breadcrumb [nzAutoGenerate]="true" nz-page-header-breadcrumb></nz-breadcrumb>

  <nz-page-header-content>
    <nz-descriptions nzSize="small" [nzColumn]="3">
      <nz-descriptions-item nzTitle="产品名称" [nzSpan]="1">
        @if (instance) {
          <a (click)="onClickType()" target="_blank">{{ instance.description.get('zh-CN') }}</a>
        }
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="设备型号" [nzSpan]="1">{{ instance?.type?.model }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="设备版本" [nzSpan]="1">{{ instance?.type?.version }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="语言" [nzSpan]="1">
        <nz-radio-group [(ngModel)]="language" nzButtonStyle="solid" nzSize="small">
          <label nz-radio-button nzValue="zh-CN">简体中文</label>
          <label nz-radio-button nzValue="zh-TW">繁体中文</label>
          <label nz-radio-button nzValue="en-US">英文</label>
        </nz-radio-group>
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="版本" [nzSpan]="1">
        <nz-switch [(ngModel)]="version" nzCheckedChildren="显示" nzUnCheckedChildren="隐藏"></nz-switch>
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="浏览模式" [nzSpan]="1">
        <nz-switch [(ngModel)]="expert" nzCheckedChildren="专家模式" nzUnCheckedChildren="普通模式"></nz-switch>
      </nz-descriptions-item>

      <!--      <nz-descriptions-item nzTitle="设备展现风格" [nzSpan]="1">-->
<!--        <nz-segmented [nzSize]="'small'" [nzOptions]="deviceDisplayOptions" [(ngModel)]="deviceDisplayStyle"></nz-segmented>-->
<!--      </nz-descriptions-item>-->
<!--      @if (deviceDisplayStyle === 0) {-->
<!--        <nz-descriptions-item nzTitle="服务展示风格" [nzSpan]="1">-->
<!--          <nz-segmented [nzSize]="'small'" [nzOptions]="serviceDisplayOptions" [(ngModel)]="serviceDisplayStyle"></nz-segmented>-->
<!--        </nz-descriptions-item>-->
<!--      }-->
    </nz-descriptions>
  </nz-page-header-content>

<!--  <nz-page-header-extra>-->
<!--    <nz-space>-->
<!--      <button *nzSpaceItem nz-button nzType="dashed" [disabled]="!changed" (click)="onReload()">重新加载</button>-->
<!--      <button *nzSpaceItem nz-button nzType="primary" nzDanger [disabled]="!changed">保存</button>-->
<!--    </nz-space>-->
<!--  </nz-page-header-extra>-->

  <ng-template #subTitle>
    @if (instance) {
      @if (instance.type.type === UrnType.GROUP) {
        <nz-tag nzColor="#f50">设备组</nz-tag>
      }
    }
  </ng-template>
</nz-page-header>

<div style="padding: 20px 20px">
  <nz-spin [nzSpinning]="loading">
    @if (instance) {
      @switch (deviceDisplayStyle) {
        @case (0) {
          <editor-slider [version]="version" [expert]="expert" [device]="instance" [language]="language" [style]="serviceDisplayStyle" (changed)="onChanged($event)" (removed)="onRemove($event)"></editor-slider>
        }
        @case (1) {
          <editor-waterfall [version]="version" [device]="instance" [language]="language" [style]="serviceDisplayStyle" (changed)="onChanged($event)"></editor-waterfall>
        }
        @case (2) {
          <editor-tabs [version]="version" [device]="instance" [language]="language" [style]="serviceDisplayStyle" (changed)="onChanged($event)"></editor-tabs>
        }
      }
    }
  </nz-spin>
</div>
