<!--@if (device) {-->
<!--  <nz-list [nzDataSource]="device.getServices()" [nzRenderItem]="s" nzSplit="false">-->
<!--    <ng-template #s let-service>-->
<!--      <nz-list-item>-->
<!--        <debugger-service-controller [service]="service" style="width: 100%"></debugger-service-controller>-->
<!--      </nz-list-item>-->
<!--    </ng-template>-->
<!--    <nz-list-item>-->
<!--      <button nz-button nzType="primary">添加功能组</button>-->
<!--    </nz-list-item>-->
<!--  </nz-list>-->
<!--}-->

@if (device) {
  <div nz-row [nzGutter]="[8, 8]">
    @for (s of device.getServices(); track s.iid) {
      <div nz-col [nzSpan]="24">
        <debugger-service-controller [service]="s" style="width: 100%" (changed)="onChanged($event)"></debugger-service-controller>
      </div>
    }

    <div nz-col [nzSpan]="24">
      <button nz-button nzType="primary">添加功能组</button>
    </div>
  </div>

<!--  <nz-list [nzDataSource]="device.getServices()" [nzRenderItem]="s" nzSplit="false">-->
<!--    <ng-template #s let-service>-->
<!--      <nz-list-item>-->
<!--      </nz-list-item>-->
<!--    </ng-template>-->

<!--    <nz-list-item>-->
<!--    </nz-list-item>-->
<!--  </nz-list>-->
}
